<title>SGNT - Yönetim</title>
 
 
<!-- --------- All Participants -------- -->
<h2>Yönetim</h2>
<hr>
<div class="row row-cols-1 row-cols-md-4 g-4">

    <div class="col mb-4">
        <div class="card h-100 border-left-success">
            <div class="card-body" style="color: black;">
                <h3 class="card-title">Burak Ekinci</h3>
                • SIRA GECESİ <br>
                • 0541 344 9825 <br>
                • bltycxkk@gmail.com <br>
                • Ödendi <i class="fas fa-check"></i>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card h-100 border-left-success">
            <div class="card-body" style="color: black;">
                <h3 class="card-title">Burak Ekinci</h3>
                • SIRA GECESİ <br>
                • 0541 344 9825 <br>
                • bltycxkk@gmail.com <br>
                • Ödendi <i class="fas fa-check"></i>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card h-100 border-left-success">
            <div class="card-body" style="color: black;">
                <h3 class="card-title">Burak Ekinci</h3>
                • SIRA GECESİ <br>
                • 0541 344 9825 <br>
                • bltycxkk@gmail.com <br>
                • Ödendi <i class="fas fa-check"></i>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card h-100 border-left-success">
            <div class="card-body" style="color: black;">
                <h3 class="card-title">Burak Ekinci</h3>
                • SIRA GECESİ <br>
                • 0541 344 9825 <br>
                • bltycxkk@gmail.com <br>
                • Ödendi <i class="fas fa-check"></i>
            </div>
        </div>
    </div>

    <div class="col mb-4">
        <div class="card h-100 border-left-success">
            <div class="card-body" style="color: black;">
                <h3 class="card-title">Burak Ekinci</h3>
                • SIRA GECESİ <br>
                • 0541 344 9825 <br>
                • bltycxkk@gmail.com <br>
                • Ödendi <i class="fas fa-check"></i>
            </div>
        </div>
    </div>
</div>


