<title>SGNT - Tüm Katılımcılar</title>


<!-- --------- All Participants -------- -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Tüm Katılımcılar</h1>
        <a href="mailto:bltycxkk@gmail.com" class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm"><i
                class="fas fa-hand-point-right fa-sm text-white-100"></i> Sistem ile alakalı hataları bildirin... (Bug
            Report)</a>
    </div>

    <!-- Divider -->
    <hr>

    <!-- Success and Error Messages  -->
    <% if (locals.validation_errors !==undefined || locals.success_messages !==undefined) { %>
        <%- include('./partials/message') %>
            <% } %>

                <!-- All Users List Cards -->
                <div class="row row-cols-1 row-cols-md-4 g-4">

                    <!-- Partial card -->
                    <% if (allParticipants !== undefined) { %>
                        <%- include('./partials/user_info_card') %>
                        <% } else { %>
                         Henüz bir katılımcı yok
                            <% } %>

                </div>

</div>