<title>SGNT - Duyuru</title>


<!-- Page Heading -->
<div class="container-fluid">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Duyurular</h1>
    <a href="mailto:bltycxkk@gmail.com" class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm"><i
        class="fas fa-hand-point-right fa-sm text-white-100"></i> Sistem ile alakalı hataları bildirin... (Bug
      Report)</a>
  </div>

  <hr>

  <div class="container">
    Selam, etkinliklerimize katılım ve diğer süreçler hakkında biraz bilgi vereyim: <br> <br>
    - İlk olarak bir etkinliğimiz olduğunda posterleri ile duyurusunu instagram veya çeşitli kanallardan duyuracağız.
    Daha sonra etkinliğimize katılımınız için adımlar çok basit. <br>
    • Sol panelden "Etkinlik" konusundan "Yayında!" olan etkinlikler kısmına tıklayın. <br>
    • Karşınıza mevcut etkinliğimiz ve etkinlik detayları çıkacaktır. Dikkatlice okuyun!<br>
    • Katılmak için öncelikle belirli bir ücret ödemesi yapmanız gereklidir. <br>
    • Katıl butonuna tıklayın ve karşınıza çıkan penceredeki söylenenleri yapın. <br>
    • Tüm görevleri yaptıktan sonra açılan penceredeki katıl butonuna tıkladığınız anda isteğiniz yöneticilere iletilir.<br>
    • Adminler hesapta sizin ücret havalenizi gördüğü anda sizleri katılımcılar arasına alacaktır, bunu tekrar "Yayında!" sayfasından tekrar katıl butonuna tıklayarak çıkan mesaj ile doğrulayabilirsiniz.
    <br><br>
    •<strong>NOT : 
      Şifrenizi değiştirmek isterseniz "Şifremi Unuttum" seçeneğiyle kolayca gerçekleştirebilirsiniz.</strong> <br><br>

    Herhangi bir bug(hata) veya etkinlik ile ilgili sorunlarınızı direkt olarak bize hem sosyal medya hesaplarımızdan hemde telefon numaralarımıza <strong><a href="<% process.env.WEBSITE_URL %>/#contact">buraya tıklayarak</a></strong> ulaşabilirsiniz.

  </div>
</div>