<title>SGNT - Bilgilendirme</title>


<!-- Page Heading -->
<div class="container-fluid">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Bilgilendirme</h1>
    <a href="mailto:bltycxkk@gmail.com" class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm"><i
        class="fas fa-hand-point-right fa-sm text-white-100"></i> Sistem ile alakalı hataları bildirin... (Bug
      Report)</a>
  </div>

  <hr>

  <div class="container">
    <div class="info">
      <p>
        Sosyal Genç Nesil Topluluğu olarak, üniversite öğrencileri arasında eğlence ve paylaşımı önceleyen bir topluluk
        oluşturmayı hedefliyoruz. Amacımız üyelerimizin eğlenirken aynı zamanda öğrenmelerine de olanak sağlamak,
        topluluk içindeki bağları güçlendirmek ve tabii ki keyifli zaman geçirmelerini sağlamak. <br><br>

        Bunun için, ücretleri minimum seviyede tutarak herkesin katılımını sağlamaya çalışıyoruz. Ancak, bunu yaparken
        eğlence ve kaliteli zaman geçirmeyi de ön planda tutuyoruz. Zaman zaman yapabileceğimiz etkinlikleri sizler için
        sıraladıktan sonra duyuru panomuzda oylama ile seçebileceğinizi de belirtmek isteriz. Üyelerimizin bilgilerinin
        güvenliği de bizim için
        çok önemli. Bu nedenle, üyelerimizin bilgilerinin gizliliğini korumak için parolalarınızı bcrypt'liyoruz. Bu da
        salted hash değerleri olarak depolamayı sağlar. Bu şekilde, parolaların gerçek değerleri yerine
        hash değerleri veritabanında saklanır. Bu sayede, veritabanına erişen bir kötü niyetli kişi veya herhangi biri
        gerçek
        parolalarınızı
        göremez.<br><br>

        Sorun çıkaran ve topluluk içinde huzuru bozan kişilerin kara listeye alınacağını belirtmek isteriz. Bununla
        birlikte, topluluğumuzda herkesin eğlenceli ve keyifli vakit geçirmesini sağlamak amacıyla, topluluk
        kurallarımızı uygulamakta kararlıyız.<br><br>

        Sosyal Genç Nesil Topluluğu'na katılarak, eğlence dolu anların tadını çıkarabilir, yeni arkadaşlar edinebilir ve
        üniversite hayatınızı daha keyifli hale getirebilirsiniz. Bize güvenebilirsiniz!<br><br>

        Copyright &copy; Sosyal Genc Nesıl Toplulugu v1.0.0 ♥
      </p>
    </div>
  </div>
</div>