<title>SGNT - Katıldığım Etkinlikler</title>



<!-- Page Heading -->
<div class="container-fluid">
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Katıldığım Etkinlikler</h1>
  <a href="mailto:bltycxkk@gmail.com" class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm"><i
      class="fas fa-hand-point-right fa-sm text-white-100"></i> Sistem ile alakalı hataları bildirin... (Bug Report)</a>
</div>

<hr>
<div class="row icon-boxes justify-content-center">
  <div class="col-md-6 col-lg-5 d-flex align-items-stretch mb-5 mb-lg-0 card p-4" data-aos="zoom-in"
    data-aos-delay="200">
    <div class="icon-box">
      <div class="mb-3 icon d-flex justify-content-center"><img src="/home_page/assets/img/act-image.jpg"
          class="rounded img-fluid" alt="act-image">
      </div>
      <h4 class="card-title">act.title</h4>
      <p class="description">act.description</p>
      <p class="description mt-2 mb-2" style="font-weight: bold;"> <i class="fas fa-location-arrow"></i> Konum: act.location</p>
      <p class="description" style="font-weight: bolder;"><i class="fas fa-wallet"></i> Ücret: act.price TL</p>
      <p class="description" style="font-weight: bolder; color: green;"><i class="fas fa-check"></i>  KATILIM TAMAMLANDI</p>
    </div>
  </div>
</div>

</div>